@font-face {
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: normal;
    src: local('Visby CF'), url('./fonts/visbycf.otf') format('truetype');
}

body {
    margin: 0 auto;
}

.container-1 {
    background-image: url("./assets/landing.svg");
    width: 1408px;
    height: 520px;
    padding-top: 20px;
    margin: auto;
}

.container-2 {}

.block-container {
    display: flex;
    flex-direction: row;
    padding: 0px 48px;
    gap: 24px;
}

.mini-container-2 {
    width: 1232px;
    height: 600px;
    margin: auto;
    border-radius: 40px;
    background: rgba(5, 32, 77, 1);
    display: flex;
}

.heading-1 {
    font-family: "Visby CF";
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-align: center;

    font-family: "Visby CF";
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-align: center;
}

.blue-text {
    color: #2361FF;
}

.button-container {
    height: 56px;
    min-width: 360px;
    max-width: 424px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 12px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-container:first-child {
    margin-top: -48px;
}

.card-container:nth-child(2) {
    margin-top: 48px;
}


/* font sizes */

.big-font {
    font-family: "Visby CF";
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;

}

.red-font {
    font-family: "Visby CF";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.19em;
    text-align: left;
    color: #FF4C77;
}

.black-font {
    font-family: "Visby CF";
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #05204D;

}

.grey-font {

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1%;
    text-align: left;
    color: #525766;
}

.yellow-text {
    color: #FFC123;
}

.white-text {
    color: #FFFFFF;
}

.normal-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;

}

.container-3 {
    width: 1232px;
    margin: auto;
    display: flex;
    padding-left: 64px;
    margin-bottom: 48px;
}

.container-4 {
    width: 1232px;
    height: 592px;
    background: rgba(35, 97, 255, 0.12);
    margin: auto;
    border-radius: 18px;
}

.sub-1-container-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 480px;
    height: 240px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-container-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.sub-1-container-3 {
    margin-top: 98px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tech-image {
    height: 500px;
    width: auto;
}

.about-container {
    width: 1232px;
    margin: auto;
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
}

.about-sub-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -24px;
}

.about-image {
    height: 688px;
    width: 736px;
    /* width: auto; */

}

.footer-form {
    display: flex;
    flex-direction: column;
    background: #05204D;
    width: 100%;
    height: 178px;
    padding-top: 36px;
    margin-bottom: 96px;
}

.form-continer-2 {
    width: 864px;
    height: 56px;
    margin: auto;
    margin-top: 56px;
    background: #FFFFFF;
    border-radius: 12px;
}

.footer {
    background-image: linear-gradient(rgba(35, 97, 255, 0), rgba(35, 97, 255, 0.12));
    width: 100%;
    height: 368px;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    /* 
 */
}

.phone-mail-text {
    /* font-family: Work Sans; */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #525766;


}

.footer-container {
    width: 100%;
    max-width: 1232px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-sub {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 240px;
}

.footer-sub:first-child {
    height: 320px;
    margin-top: 48px;

}

.footer-header {
    font-family: "Visby CF";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #05204D;
}

.footer-subheading {
    font-family: "Visby CF";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #525766;

}

.gmaps-card {
    border-radius: 18px;
}

.city {
    width: 678.74365234375px;
    height: 250.67236328125px;
}

.city:nth-child(2) {
    margin-left: -40px;
}

.city-card {
    margin-top: -10px;
}

.white-cards {
    width: 264px;
    height: 208px;
    border-radius: 24px;
    background: #FFFFFF;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.white-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 48px 0px;
}

.white-card-content {
    width: 200px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #40444F;
}

.clients-container {
    width: 100%;
    height: 465px;
    padding: 48px 0px;
    background-image: url("./assets/clienBG.svg");
    padding-top: 124px;
    background-repeat: no-repeat;
}

.progress-bg {
    width: 100%;
    height: 465px;
    background: linear-gradient(rgba(217, 217, 217, 0), rgba(12, 58, 176, 0.08));
    margin: 64px 0px;
    border-radius: 36px;
}

.clients-container-images {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin-left: auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

.container-progress {
    display: flex;
    max-width: 920px;
    margin-left: auto;
    padding: 32px 0px;
    padding-top: 56px;
    padding-left: 85px;
}

.progress {
    width: 108px;
    height: 108px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 100px;
    margin: 20px
}

.progress::after {
    content: "%";
    color: #2361FF;
    font-family: " Visby CF";
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;

}

.progress .title {
    position: relative;
    z-index: 100;
    color: #2361FF;
    font-family: "Visby CF";
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;

}

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #2361FF;
}

.progress .left,
.progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #2361FF;
    ;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
    color: #2361FF;
}

.progress .left {
    animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
    animation: load2 .5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
    animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(270deg);
    }
}

@keyframes load3 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(315deg);
    }
}


/* carousel */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slideshow-container-cust {
    max-width: 720px;
    position: relative;
    margin: auto;
}

.slideshow-containerThree {
    max-width: 900px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlidesTwo {
    display: none;
}

.mySlidesThree {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-top: -22px; */
    padding: 16px;
    color: #525766;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    padding: 8px 0;
    text-align: center;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.active,
.dot2:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* my css */

.carousel-card {
    width: 873px;
    height: 384px;
    border-radius: 40px;
    background: #FFFFFF;
    display: flex;
    margin: auto;
}

.carousel-width {
    width: 392px;
    height: 448px;
    border-radius: 40px;
    margin-top: -24px;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 360px;
    padding-top: 64px;
    padding-left: 32px;
}


/* versatile carousel */

.ver-crl-image {
    width: 480px;
    height: 288px;
    border-radius: 24px;
}

.ver-crl-container {
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    height: 591px;
    border-radius: 24px;
    border: 2px;
    background: linear-gradient(0deg, #F4F4F6, #F4F4F6),
        linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}

.ver-carousel-card {
    width: 980px;
    height: 600px;
    border-radius: 40px;
    display: flex;
    margin: auto;
}

.ver-slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.ver-header-font {
    font-family: "Visby CF";
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}

.ver-cnt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
}

/* customer carousel */

.carousel-card-cust {
    width: 704px;
    height: 424px;
    border-radius: 40px;
    background: #F4F4F6;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 360px;
    padding-top: 72px;
}

.add-up-space {}

.firstQuo {
    margin-top: -64px;
    margin-left: 48px;
}

.secondQuo {
    margin-top: 356px;
    margin-right: 48px;
    /* margin-bottom: -64px; */
}


/* responsive design */
@media only screen and (max-width: 1180px) {
    .about-container {
        width: auto;
        flex-flow: wrap;
        justify-content: space-around;
        padding: 48px 18px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-1 {
        background-image: url("./assets/landing.svg");
        width: 100%;
        height: auto;
    }

    .mini-container-2 {
        width: 100%;
        height: auto;
    }

    .container-3 {
        width: 100%;
    }

    .ver-cnt {
        flex-direction: column;
    }

    .ver-carousel-card {
        width: 100%;
        height: auto;
        justify-content: space-around;
    }

    .container-4 {
        flex-direction: column;
        height: auto;
        padding: 24px 12px;
        width: 100%;

    }

    .sub-1-container-4 {

        height: auto;
    }

    .white-cards-container {
        max-width: 480px;
        margin: auto;

    }

    .clients-container {
        background-image: none;
        height: auto;
    }

    .clients-container-images {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .carousel-card {
        width: 90%;
        height: auto;
    }

    .carousel-width {
        width: auto;
        height: auto;

    }

    .carousel-card-cust {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .form-continer-2 {
        height: auto;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
    }

    .about-sub-1 {
        padding: 24px 12px;
    }

    .form-card {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .container-progress {
        flex-flow: wrap;
    }

    .carousel-width {
        display: none;

    }

    .form-card {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-form {
        height: auto;

    }

    .footer {
        height: auto;
    }

    .footer-container {
        flex-flow: wrap;
        justify-content: space-around;
    }
    .footer-sub{
      width:240px;
      height:auto;
      padding:24px 0px;
    }
    .footer-sub:first-child{
        width:240px;
        height:auto;
        padding: 0px;
        padding-bottom: 18px;
      }

    .content-container-1 {
        width:90%;
    }

}

@media only screen and (max-width: 500px) {

    .container-3 {
        flex-direction: column;
    }

    .mini-container-2 {
        flex-direction: column;
    }

    .firstQuo {
        margin-top: -24px;
        margin-left: 48px;
    }

    .secondQuo {
        margin-top: 326px;
        margin-right: 48px;
        /* margin-bottom: -64px; */
    }

    .white-cards-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-image{
        width:90%;
        height: auto;
    }
    .ver-crl-image {
        width:100%;
        height:auto;
    }
    .ver-crl-container{
        width:90%;
        margin: auto;
    }
    .about-container{
        margin-bottom: 64px;;
    }
    .clients-container{
        height: auto;
    }
    .progress-bg{
        height: auto;
    }
    .clients-container-images{
        gap:24px;
    }
}